[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = helloworld programs and concepts
[access "refs/*"]
	owner = group user/codetoddlers
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/codetoddlers
	label-Verified = -1..+1 group user/codetoddlers
	push = group user/codetoddlers
	read = group user/codetoddlers
	rebase = group user/codetoddlers
	removeReviewer = group user/codetoddlers
	submit = group user/codetoddlers
[access "refs/heads/*"]
	create = group user/codetoddlers
	push = +force group user/codetoddlers
	pushMerge = group user/codetoddlers
	read = group user/codetoddlers
[access "refs/tags/*"]
	push = group user/codetoddlers
	push = +force group user/codetoddlers
